<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
 <connectionStrings>
   <!--<add name="MusicStoreConnection" connectionString="Data Source=.;Initial Catalog=VoteSystem;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <add name="MusicStoreConnection" connectionString="Server=92a83180-1e81-467c-8d35-a5d000c9f331.sqlserver.sequelizer.com;Database=db92a831801e81467c8d35a5d000c9f331;User ID=prbbitolfwvgwjrk;Password=NAWsd3jrpzwHnfZtPqpwhvTWoQ3vSuu25LCA6VhRDUW3w8nhcFGMhsqsQ8du8VF3;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>