@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h1>Welcome to Ankk Validation System</h1>
    <p>Hi,</p>
    <p>My name is Andriyan Nevelinov Krastev and this is my diploma project. It's a basic web application for validation programming code written on ASP.NET MVC.</p>
    @*<div class="text-center">
        @Html.ActionLink("Register", "Register", "Account", null, new { @class = "btn btn-primary " })
    </div>*@
</div>