@model VoteSystem.Clients.MVC.Areas.Administration.ViewModels.VoteSystemUser.VoteSystemUserViewModel
   
<td class="col-md-4 col-sm-4 col-xs-4">
    @Model.FacultyNumber
</td>
<td class="col-md-4 col-sm-4 col-xs-4">
    @Model.FirstName
</td>
<td class="col-md-4 col-sm-4 col-xs-4">
    @Model.LastName
</td>
<td class="col-md-4 col-sm-4 col-xs-4">
    @Model.Email
</td>