<footer style="background-color: #2A3F54">
    <div class="text-center footer-title" style="color: #E7E7E7;">
        &copy; @DateTime.Now.Year - Андриян Кръстев
    </div>
    <div class="clearfix"></div>
</footer>