<h3 class="login-with">...or login with:</h3>

<a class="btn btn-block btn-social btn-facebook col-lg-4">
    <i class="fa fa-facebook"></i>Facebook
</a>
<a class="btn btn-block btn-social btn-twitter col-lg-4">
    <i class="fa fa-twitter"></i>Twitter
</a>
<a class="btn btn-block btn-social btn-google-plus col-lg-4">
    <i class="fa fa-google-plus"></i> Google Plus
</a>
