@model System.Web.Mvc.HandleErrorInfo

    <style>
        .container.body {
            color: #E7E7E7;
        }
    </style>

    <div class="container body">
        <div class="main_container">
            <div class="col-md-12">
                <div class="col-middle">
                    <div class="text-center text-center">
                        <h1 class="error-number">Грешка</h1>
                        <h2>Възникна грешка при обработването на вашата заявка.</h2>
                        <p>
                            Моля свържете се със системният администратор за повече информация.
                        </p>
                        <a href="~/Introduction/Index" style="color: #1ABB9C">
                            Начало
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>