<table width="200">
<tr>
	<td align="left">Identification:</td>
	<td><b><?php print $ID; ?></b></td>
</tr>
<tr>
	<td align="left">First Name:</td>
	<td><b><?php print $FirstName; ?></b></td>
</tr>
<tr>
	<td align="left">Last Name:</td>
	<td><b><?php print $LastName; ?></b></td>
</tr>
<tr>
	<td align="left">Nationality:</td>
	<td><b><?php print $Nationality; ?></b></td>
</tr>
<tr>
	<td align="left">Height:</td>
	<td><b><?php print $Height; ?></b></td>
</tr>
<tr>
	<td align="left">Weight:</td>
	<td><b><?php print $Weight; ?></b></td>
</tr>
<tr>
	<td align="left">Position:</td>
	<td><b><?php print $Name; ?></b></td>
</tr>
</table>
