.row {
    margin-left: 0;
    margin-right: 0;
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by its height */
    margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#footer {
    height: 60px;
    background-color: #f5f5f5;
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#wrap > .container {
    padding: 60px 15px 0;
}

.container .credit {
    margin: 20px 0;
}

#footer {
    background-color: #414141;
}

    #footer a {
        color: #efefef;
    }

#topNav {
    z-index: -1;
}

#nav {
    width: 100%;
}

    #nav.affix-top {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        height: 54px;
        background-color: transparent;
        border: 0;
    }

    #nav.affix {
        position: fixed;
        top: 0;
        z-index: 10;
        -webkit-transition: all .6s ease-in-out;
    }

.homepage-hero-module {
        border-right: none;
        border-left: none;
        position: relative;
    }

    .no-video .video-container video,
    .touch .video-container video {
        display: none;
    }

    .no-video .video-container .poster,
    .touch .video-container .poster {
        display: block !important;
    }

    .video-container {
        position: relative;
        bottom: 0%;
        left: 0%;
        height: 100%;
        width: 100%;
        overflow: hidden;
        background: #000;
    }

        .video-container .poster img {
            width: 100%;
            bottom: 0;
            position: absolute;
        }

        .video-container .filter {
            z-index: 100;
            position: absolute;
            background: rgba(0, 0, 0, 0.4);
            width: 100%;
        }

        .video-container .title-container {
            z-index: 1000;
            position: absolute;
            top: 35%;
            width: 100%;
            text-align: center;
            color: #fff;
        }

        .video-container .description .inner {
            font-size: 1em;
            width: 45%;
            margin: 0 auto;
        }

        .video-container .link {
            position: absolute;
            bottom: 3em;
            width: 100%;
            text-align: center;
            z-index: 1001;
            font-size: 2em;
            color: #fff;
        }

            .video-container .link a {
                color: #fff;
            }

        .video-container video {
            position: absolute;
            z-index: 0;
            bottom: 0;
        }

            .video-container video.fillWidth {
                width: 100%;
            }

@media (min-width: 767px) {
    .navbar-nav.nav-justified > li {
        float: none;
    }
}

.navbar-nav {
    margin: 1px 1px;
}

.navbar-toggle {
    outline: 0;
}

.divider {
    height: 50px;
}

.panel {
    border-width: 0;
}

@media (max-width: 768px) {
    header {
    }
}

.scroll-top {
    position: fixed;
    bottom: 0;
    right: 6%;
    z-index: 100;
    background: #f2f3f2;
    font-size: 24px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

    .scroll-top a:link, .scroll-top a:visited {
        color: #222;
    }

section {
    min-height: 400px;
    height: auto !important;
    height: 100%;
    padding-top: 100px;
}

video {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
}

header.masthead {
    height: 400px;
    min-height: 100px;
    position: absolute;
}

.nav.navbar-nav > li > a, .vertical-center-row, .vertical-center-row a {
    color: #E7E7E7 !important;
    font-size: 17px;
    margin-bottom: 0;
}

.nav.navbar-nav > li > a:hover {
   color: #1ABB9C !important;  
}

.container-table {
    height: 100%;
    display: table;
}

.vote-system-title {
    font-size: 60px;
    margin-bottom: 60px;
}

.vertical-center-row {
    display: table-cell;
    vertical-align: top;
    padding-bottom: 100px;
}

.navbar-inverse {
    background-color: #2A3F54;
    border-color: #2A3F548;
}

body {
    background-color: #F7F7F7;
    color: #73879C;
}

.navbar-inverse .navbar-nav > .active > a {
    border: 3px solid #1ABB9C;
    color: #1ABB9C !important;
    background-color: #2A3F54;
}

.navbar-inverse .navbar-nav > .active > a:hover {
    background-color: #2A3F54;
}

.error-message {
    height: 30px;
    margin-top: 5px;
    margin-left: 15px;
    color: red;
}

.contact-info-title {
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 20px;
    width: 100%;
}

.footer-title {
    color: #E7E7E7;
    font-size: 15px;
}

.about-me-info {
    font-size: 20px;
    text-align: justify;
}

.about-me-row {
    width: 60%;
    margin: auto;
}

.introduction-info {
     font-size: 20px;
}

@media (max-width: 750px) {
    .about-me-row {
        width: 100%;
    }

    .about-me-info {
        font-size: 17px;   
    }

    img {
        width: 17em;
        height: 17em;
    }
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: #1ABB9C;
}