@using VoteSystem.Clients.MVC.Infrastructure.NotificationSystem
@{ 
    var successList = Html.GetNotifications(NotificationType.Success);
}

@if (successList != null)
{
    <div class="alert alert-success alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        @if (successList.Count() > 1)
        {
            <ul>
                @foreach (String message in successList)
                {
                    <li>@Html.Raw(message)</li>
                }
            </ul>
        }
        else
        {
            @Html.Raw(successList.First())
        }
    </div>
}