@using VoteSystem.Clients.MVC.Infrastructure.NotificationSystem
@{    
    var warningList = Html.GetNotifications(NotificationType.Warning);   
}

@if (warningList != null)
{
    <div class="alert alert-warning alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        @if (warningList.Count() > 1)
                {
            <ul>
                @foreach (String message in warningList)
                {
                    <li>@Html.Raw(message)</li>
                }
            </ul>
        }
        else
        {
            @Html.Raw(warningList.First())
        }
    </div>
}