@model VoteSystem.Clients.MVC.Areas.Administration.ViewModels.Question.QuestionViewModel

<div class="col-md-6 col-sm-6 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>@Model.Name</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </li>
                <li>
                    <a class="close-link">
                        <i class="fa fa-close"></i>
                    </a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="text-center">#</th>
                        <th>Отговори</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Answers.Count; i++)
                    {
                        <tr>
                            <td class="col-md-1 text-center">
                                @(i + 1)
                            </td>
                            <td>
                                @Model.Answers[i].Name
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
 