@model IEnumerable<DesignPatterns.Models.FactureViewModel>


<h2 class="text-center" style="margin-bottom: 40px; margin-top: 40px">
    Всички фактури.
</h2>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Дата</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="listener">
                    <td>@item.FactureNumber</td>
                    <td>@item.Date</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts{
    <script>
         $('tbody').on('click', 'tr', function () {
             alert($(this).text());
         })
    </script>
}